.welcome-msg{
  font-size: 2.5em;
  background-color: #23b723;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: #ad1f2f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}